body{
    background-color: #F6FAFD !important;
}
section{
    background-color: #FFFFFF;
}
.unread{
    background-color: #F6FAFD;
    border-radius: 10px;
}

.unread_round{
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}
.text-bue{
    color: #0070F3;
    font-weight: 700;
}
.message-reply{
    top: 20px;
    padding: 10px;
    border-radius: 10px;
}
.message-img{
    bottom : 40px;
}
.container{
    width: 40% !important;
}
.bold{
    font-weight: 700;
}
.text-gray{
    color: #8F949A;
}

@media (max-width: 768px) {
    .container{
        width: 100% !important;
    }
}